* {
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #0F3376;
    color: #899cbe;
    padding: 15px;
    margin-top: 25px;
}

h2 {
    text-align: center;
    font-size: medium;
    background-color: #0F3376;
    color: #899cbe;
    padding: 10px;
}

.main-container {
    /* background-color: blanchedalmond; */
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.signal-set {
    /* background-color: #8bc75a; */
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
}

.signal-container {
    /* background-color: #be8992; */
    padding: 10px;
    height: 400px;
    max-width: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.plaatje {
    /* background-color: aqua; */
    flex: 1;
    padding: 10px;
}

.plaatjeC {
    /* background-color: aqua; */
    flex: 1;
    padding: 10px;
    margin: auto;
}

.s-display {
    /* background-color: antiquewhite; */
    flex: 5;
    display: flex;
    flex-direction: row;
}

.s-data {
    /* background-color: rgb(214, 136, 40); */
    flex: 1;
    padding: 10px;
}

.but-container {
    /* background-color: blueviolet; */
    flex: 0.5;
    padding: 10px;
}

.sb-display {
    background-color: rgb(218, 218, 248);
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid black;
}

.sb-display:hover {
    cursor: pointer;
}

.sb-display:active {
    background-color: rgb(3, 3, 218);
}

.signal-types {
    /* background-color: #89be8d; */
    padding: 10px;
    height: 550px;
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.signal-config {
    align-items: stretch;
    height: 400px;
}

.full-line {
    font-weight: bold;
    font-size: 1.2em;
}

.toggle-lijst {
    color: blue;
    cursor: pointer;
}

.changeForm {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item2 {
    /* height:30px; */
    /* background-color: darkorange; */
    width: 100%;
    height: 25px;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.labelcontainer {
    width: 10%;
    flex: 1;
}

.adrescontainer {
    flex: 2;
}

.infocontainer {
    font-size: 16px;
    flex: 2;
}

.footercontainer {
    padding: 15px;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.filler {
    margin-top: 100px;
    width: 90%;
}

.NBcontainer {
    max-width: 300px;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.buttoncontainer {
    padding-top: 15px;
    width: 80%;
    margin-top: 50px;
    vertical-align: bottom;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-end;
}

.newbutton {
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
    flex: 1;
}

.storebutton {
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
    flex: 1;
}

#BNew {
    font-size: 14px;
    font-weight: bold;
}

.keuzebut {
    width: 25%;
    flex: 1;
}

.applybut {
    width: 25%;
    flex: 1;
}

.deletebut,
.testbutTB,
.testbutTE,
.cancelbut {
    width: 25%;
    flex: 1;
}

.signal-mutate {
    padding: 10px;
    height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.signal-change {
    /* background-color: #cecb2b; */
    padding: 10px;
    height: 400px;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .main-container,
    #changeSignal {
        flex-direction: column;
    }
    .signal-types,
    .s-display,
    .footercontainer {
        width: 100%;
    }
    #sigKeuze,
    #changeSignal {
        font-size: 14px;
    }
    .instellingen,
    #changeForm,
    .footercontainer,
    .sb-display,
    .s-data {
        font-size: 12px;
    }
    .sb-display {
        padding: 5px;
    }
    #image {
        width: 25px;
        height: auto;
    }
    .signal-container {
        height: 250px
    }
    .bfiller {
        margin-top: 10px;
    }
}


/* ///////////////////*/


/* slider appearance */


/*/////////////////// */

.slidecontainer {
    flex: 2;
    width: 70%;
}


/* Width of the outside container */


/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 70%;
    /* Full-width */
    height: 10px;
    /* Specified height */
    border-radius: 5px;
    background: #7794a8;
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 10px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    border-radius: 50%;
    background: #2187da;
    border: 1px solid #0c304e;
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 15px;
    /* Slider handle height */
    border-radius: 50%;
    background: #8bc75a;
    cursor: pointer;
    /* Cursor on hover */
}


/* ///////////////////////////////////
  ///// number input apearance /////////
  /////////////////////////////////// */


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    border: 1px solid #2187da;
    width: 60px;
    text-align: center;
    -moz-appearance: textfield;
}