* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
h1 {
  text-align: center;
  color: #0F3376;
  margin-top: 50px;
  margin-bottom: 50px;  
}
.row {
  width: 100%;
}

#meter-set {
  position: relative;
}

#amps {
  margin-top: 5px;
  width: 200px;
  margin: 0 auto 0;
  position: relative;
}
#sign{
  position: relative;
  top: -180px;
  width: 10px;
  margin:0 auto 0;
  color: black;
  font-size: 12px;
}
#peaks {
  height: 26px;
  padding-top: 3px;
  position: relative;
  margin: 0 auto 0;
  width: 200px;
  top: -120px;
}
.p-display {
  margin: 0 auto 0;
  width: 80px;
  height: 20px;
  background-color: rgb(180, 180, 223);
  color: black;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
}
.p-display:hover {
  cursor: pointer;
}
#volts {
  position: relative;
  top: -120px;
  width: 200px;
  margin: 0 auto 0;
}
/********** devices **********/
@media (min-width: 1200px){
  .col-lg-2{
    float: left;
    position: relative;
    width: 16.66%;
  }
}
@media (min-width: 900px) and (max-width: 1200px){
    .col-md-3, .col-md-6{
    float: left;
    position: relative;
    height: 330px;
    overflow: hidden;
    }
    .col-md-3{
      width: 25%;
      border-bottom: 1px solid black; 
    }
    .col-md-6{
      width: 50%;
      border-bottom: 1px solid black; 
    }
    h1 {
      margin-top: 20px;
      margin-bottom: 20px;  
    }  
}

@media (min-width: 700px) and (max-width: 899px) {    
  .col-sm-4, .col-sm-6{
    float: left;
    position: relative;
    height: 320px;
    overflow: hidden;
    border-bottom: 1px solid black; 
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-6{
    width: 50%;
  }
  h1 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width:699px) {   
  .col-xs {
    float: left;
    position: relative;
    height: 320px;
    overflow: hidden;
    border-bottom: 1px solid black; 
    width: 100%;
  }
  h1 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
